<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="user" class="com.us.improve.spring.ioc.User">
        <constructor-arg value="Loren"/>
        <constructor-arg value="123456"/>
        <constructor-arg ref="car"/>
    </bean>

    <bean id="car" class="com.us.improve.spring.ioc.Car">
        <constructor-arg value="Audi"/>
        <constructor-arg value="A7 Sportback"/>
    </bean>
</beans>

