<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="user" class="com.us.improve.spring.ioc.User">
        <property name="name" value="Loren"/>
        <property name="password" value="123456"/>
        <property name="car" ref="car"/>
    </bean>

    <bean id="car" class="com.us.improve.spring.ioc.Car">
        <property name="brand" value="Audi"/>
        <property name="type" value="A7 Sportback"/>
    </bean>
</beans>

